.input-add {
width: 638px;
border-radius: 8px;
background-color: #262626;
padding: 16px;
border: 1px solid #0D0D0D;
font-size: 1rem;
font-weight: 400;
line-height: 1.4rem;
color: #808080;
}

.container {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
  margin-top: -27px
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #1E6F9F;
  color: #F2F2F2;
  border-radius: 8px;
  padding: 16px;
  gap: 8px;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.225rem;
  cursor: pointer;
}